@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #__next {
    height: 100%;
  }

  body {
    @apply text-text;
    @apply bg-background;
  }

  h1 {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
  }

  h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
}
